@import "./../../styles/reset.css";

/* Passion-block */
.passion-grid
{
    display: grid;
    grid-template-columns: 1440px;
    grid-template-rows: 351px;
    grid-template-areas: "passion-inner";
}

.passion-inner{grid-area: passion-inner;}
.passion-demo
{
    border-bottom: 1px solid var(--black, #121212);
}

.passion-inner
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.about-us-story-tittle
{
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 24px;
}
.passion-tittle
{
    font-size: 38px;
    font-weight: 500;
    margin-bottom: 16px;
}
.passion-text
{
    max-width: 638px;
    font-size: 16px;
    font-weight: 400;
}

@media(max-width: 1440px)
{
    .passion-grid
    {
        display: grid;
        grid-template-columns: 720px;
        grid-template-rows: 351px;
        grid-template-areas: "passion-inner";
    }
}

@media(max-width: 720px)
{
    .passion-grid
    {
        display: grid;
        grid-template-columns: 359px;
        grid-template-rows: 500px;
        grid-template-areas: "passion-inner";
    }
    .passion-text
    {
        max-width: 280px;
    }
}
