@import "./../../styles/reset.css";

/* Clients say */
.clients-say-container
{
    max-width: 1280px;
    margin: 0 auto;
}
.clients-say-content
{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.clients-say
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.google-image
{
    margin-bottom: 8px;
}
.reviews-tittle
{
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
}
.clients-say-text
{
    font-size: 50px;
    font-weight: 600;
    margin-bottom: 16px;
    margin-top: 24px;
}
.carousel-block
{
    display: flex;
    justify-content: space-between;
}
.client-text
{
    font-size: 28px;
    font-weight: 400;
}
.client-name
{
    font-size: 16px;
    font-weight: 500;
    margin-top: 16px;
}
.left-carousel-arrow
{
    width: 32px;
    height: 32px;
}
.right-carousel-arrow
{
    width: 32px;
    height: 32px;
}
.clients-say-button
{
    display: flex;
    height: 56px;
    padding: 16px 24px 14px 24px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border: 1px solid var(--black, #121212);
    font-size: 16px;
    font-weight: 500;
    margin-top: 120px;
    text-transform: uppercase;
}

@media(max-width:720px)
{
    .clients-say-text
    {
        font-size: 40px;
    }
    .client-text
    { 
        font-size: 20px;
    }
}