@import "./../../styles/reset.css";

/* Product page */

.product-card-grid
{
    display: grid;
    grid-template-columns: 720px 719px;
    grid-template-rows: 753px;
    grid-template-areas: 
        "product-card-image product-card-inner";
}
.product-card-image{grid-area: product-card-image;}
.product-card-inner{grid-area: product-card-inner;}

.product-card-demo
{
    border-right: 1px solid var(--black, #121212);
    border-bottom: 1px solid var(--black, #121212);
}
.product-card-demo-right
{
    border-bottom: 1px solid var(--black, #121212);
}